name: Deploy to TM web hosting

on:
  workflow_dispatch:

  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to TM web hosting
    runs-on: ubuntu-latest
    env:
      URL: ${{ secrets.TM_WEBHOOK_URL }}
      METHOD: GET  # the method used to make the request. It is GET by default
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: npm install
      - name: Build website
        run: npm run build

      - name: Zip Release
        uses: TheDoctor0/zip-release@0.6.2
        with:
          type: 'zip'
          filename: 'release.zip'
          path: '../build'
          directory: './dist'

      - name: Add release file to repo
        run: |
          git config user.name tm-docs-bot
          git add -A
          git commit -m "[bot] Update TM Docs release"
          git push origin main

      - name: Ping to TM web hosting
        uses: sisodiya2421/pinger@master